# Build & IDE directories
**/target/
**/.embuild/
**/.gradle/
**/build/
**/.idea/
**/.vscode/
*.apk
*.elf
*.bin
local.properties

# Descargas de terceros y artefactos locales
manual/
foto_camara_prueba.jpg
scratch_*.png
